*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  text-size-adjust: 100%;
  scroll-behavior: smooth;
  scroll-padding-top: var(--header-height);
}

body {
  overflow-x: hidden;
  font-family: var(--font-noto-sans-jp);
  font-size: 1.6rem;
  font-weight: var(--font-weight-normal);
  line-height: 1.5;
  color: var(--color-foreground-dark);
  overflow-wrap: break-word;
  background-color: var(--color-background-light);

  &.is-fixed {
    overflow-y: hidden;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
em,
b,
strong {
  font-weight: var(--font-weight-bold);
}

strong {
  color: var(--color-role-danger-dark);
}

a {
  display: block;
  color: var(--color-foreground-dark);
  text-decoration: none;
}

button {
  padding: 0;
  appearance: none;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  border: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}