@use '@/styles/_common/mixin/' as mixin;
@use '@/styles/_base/argument' as *;

:root {
  /* MARGIN */
  --margin-section: 64px;

  /* FONT */
  --font-noto-sans-jp: 'Noto Sans JP', sans-serif;

  /* FONT-WEIGHT */
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* box-shadow */
  --box-shadow: 5px 5px 6px #7d7d7d33;

  /* PRIMARY */
  --color-primary: #0093e9;
  --color-secondary: #530edf;

  /* FOREGROUND */
  --color-foreground-light: #fff;
  --color-foreground-gray: #6e6e6e;
  --color-foreground-dark: #333;

  /* BACKGROUND */
  --color-background-light: #fff;
  --color-background-dark: #333;
  --color-background-black: #191b1f;
  --color-background-gray: #f6f6f6;

  /* ROLE DANGER */
  --color-role-danger-dark: #c00;

  /* GRADIENT */
  --color-gradient: linear-gradient(to bottom right, var(--color-primary), var(--color-secondary));
  --color-gradient-reverse: linear-gradient(to bottom right, var(--color-secondary), var(--color-primary));

  /* TRANSITION */
  --transition: .4s cubic-bezier(.25,.8,.25,1);

  /* BORDER */
  --color-outline-white: #fff;
  --color-outline-gray: #AEB2B2;
  --color-outline-dark: #333;

  /* BORDER RADIUS */
  --border-radius-circle: 1000px;

  /* OPACITY */
  --opacity: .7;

  /* HEADER HEIGHT */
  --header-height: 62px;
}

@include mixin.media(pc) {
  :root {
    /* HEADER HEIGHT */
    --header-height: 86px;
  }
}