@use '../_base/argument' as *;
@use '../_common/mixin/' as mixin;
@use '../_common/extend/' as *;

/* vertical-align */
$align-map: (
  baseline: baseline,
  top: top,
  middle: middle,
  bottom: bottom,
  text-top: text-top,
  text-bottom: text-bottom,
  sub: sub,
  super: super,
);

@each $key, $value in $align-map {
  .align-#{$key} {
    vertical-align: $value !important;
  }
}

@each $key, $value in $align-map {
  @include mixin.media(sp) {
    .sm\:align-#{$key} {
      vertical-align: $value !important;
    }
  }
}

@each $key, $value in $align-map {
  @include mixin.media(pc) {
    .md\:align-#{$key} {
      vertical-align: $value !important;
    }
  }
}