/* stylelint-disable no-descending-specificity */
@use '@/styles/_common/mixin/' as mixin;
@use '@/styles/_common/extend/' as *;

.c-content-cms {
  /* リスト */
  ul:not([class^="c-"]) {
    display: grid;
    gap: 8px;
    margin-top: 24px;
    list-style: none;

    @include mixin.media(pc) {
      margin-top: 32px;
    }

    li {
      position: relative;
      padding-left: 16px;

      &::before {
        position: absolute;
        top: .6em;
        left: 5px;
        display: block;
        width: 5px;
        height: 5px;
        content: "";
        background-color: #F0F3F8;
        border-radius: 50%;
      }

      ul,
      ol {
        margin-top: 8px;
      }
    }
  }

  /* 順序リスト */
  ol:not([class^="c-"]) {
    display: grid;
    gap: 8px;
    margin-top: 24px;
    list-style-position: inside;

    @include mixin.media(pc) {
      margin-top: 32px;
    }

    li {
      position: relative;

      &::marker {
        left: 0;
      }
    }
  }

  /* リストの入れ子の場合のスタイル指定 */
  ul:not([class^="c-"]),
  ol:not([class^="c-"]) {
    ul,
    ol {
      margin-top: 8px;
    }
  }

  /* アンカーリンク */
  .c-list-anchor {
    display: grid;
    gap: 0 16px;
    margin-top: 32px;
    list-style: none;

    @include mixin.media(pc) {
      margin-top: 40px;
    }

    &[data-column-pc="2"] {
      @include mixin.media(pc) {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    &[data-column-pc="3"] {
      @include mixin.media(pc) {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    &[data-column-pc="4"] {
      @include mixin.media(pc) {
        grid-template-columns: repeat(4, 1fr);
      }
    }

    a {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      padding: 16px 24px 16px 0;
      font-weight: var(--font-weight-medium);
      border-bottom: 1px solid var(--color-outline-gray);
      transition: color var(--transition);

      &::before {
        position: absolute;
        top: 50%;
        right: 10px;
        display: block;
        width: 8px;
        height: 8px;
        content: "";
        border-top: 2px solid var(--color-primary);
        border-right: 2px solid var(--color-primary);
        transform: translateY(-50%) rotate(135deg);
      }

      @include mixin.media(hover) {
        &:hover {
          color: var(--color-primary);
        }
      }
    }
  }
}