/* stylelint-disable no-descending-specificity */
@use '@/styles/_common/mixin/' as mixin;
@use '@/styles/_common/extend/' as *;

.c-content-cms {
  /* リスト */
  ul:not([class^="c-"]) {
    display: grid;
    gap: 8px;
    margin-top: 24px;
    list-style: none;

    @include mixin.media(pc) {
      margin-top: 32px;
    }

    li {
      position: relative;
      padding-left: 16px;

      &::before {
        position: absolute;
        top: .65em;
        left: 5px;
        display: block;
        width: 5px;
        height: 5px;
        content: "";
        background-color: var(--color-background-dark);
        border-radius: 50%;
      }

      ul,
      ol {
        margin-top: 8px;
      }
    }
  }

  /* 順序リスト */
  ol:not([class^="c-"]) {
    display: grid;
    gap: 8px;
    margin-top: 24px;
    list-style-position: inside;

    @include mixin.media(pc) {
      margin-top: 32px;
    }

    li {
      position: relative;

      &::marker {
        left: 0;
      }
    }
  }

  /* リストの入れ子の場合のスタイル指定 */
  ul:not([class^="c-"]),
  ol:not([class^="c-"]) {
    ul,
    ol {
      margin-top: 8px;
    }
  }
}